<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Player not found</title>
</head>
<body
style="margin: 0;
padding: 0;
box-sizing: border-box;">

    <div
    id="bg-image"
    class="bg-image"
    style="
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('recommendation/static/css/5570834.jpg');
    height: 100vh;
    background-position: center;
    flex-direction: column;
    ">

    <h1
    style="color: aliceblue;">
        Oops, the player does not exist in Riot Games API!
    </h1>
    <a href="{{ url_for('recommendation.home') }}" style="color: antiquewhite; font-size: 26px;">Go back</a>


    </div>



   
    
</body>
</html>